body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  background: url("menubackground.png") no-repeat center center fixed; ;
}
h1 {
  color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  border-radius: 10px;
  padding: 40px;
  background: #5b1916;
}

#options {
  display: flex;
  justify-content: center;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #fff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000;
  background-color: #fff;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}
